In [1]:
import pandas as pd
import numpy as np

In [2]:
# import dataset
dataset = pd.read_csv('./trends.csv')
dataset.head(10)

,rank,refresh_date,week,country_code,region_name,region_code,term,score,country_name
0,23,2022-06-30,2017-07-02,ID,Aceh,ID-AC,Anna,3.0,Indonesia
1,23,2022-06-30,2017-07-09,ID,Aceh,ID-AC,Anna,3.0,Indonesia
2,23,2022-06-30,2017-07-23,ID,Aceh,ID-AC,Anna,5.0,Indonesia
3,23,2022-06-30,2017-09-10,ID,Aceh,ID-AC,Anna,6.0,Indonesia
4,23,2022-06-30,2017-09-24,ID,Aceh,ID-AC,Anna,2.0,Indonesia
5,23,2022-06-30,2017-11-19,ID,Aceh,ID-AC,Anna,3.0,Indonesia
6,23,2022-06-30,2018-01-21,ID,Aceh,ID-AC,Anna,4.0,Indonesia
7,23,2022-06-30,2018-03-11,ID,Aceh,ID-AC,Anna,7.0,Indonesia
8,23,2022-06-30,2018-05-20,ID,Aceh,ID-AC,Anna,9.0,Indonesia
9,23,2022-06-30,2018-05-27,ID,Aceh,ID-AC,Anna,6.0,Indonesia